body
{
background-image:url(http://cdnimg.visualizeus.com/thumbs/e2/73/art,colors,prism-e273f575c7791dcf6c10bf8485830397_h.jpg);
background-repeat:no-repeat;
background-position: center;
background-attachment: fixed;
background-color: #000000;
}

input[type="text"] {
border: 2px solid #32829D;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: #000000;
color:#FFFFFF;
}

input[type="password"] {
border: 2px solid #32829D;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: transparent;
color:#FFFFFF;
}

input[type="submit"] {
border: none;
background: transparent;
color:#32829D;
}

input[type="submit"]:hover {
border: thin #999999 outset;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: #FFFFFF;
color: #000000;
}
input[type="submit"]:focus  {
border: thin #000000 solid;
background: #FFFFFF;
color: #000000;
}
input[type="submit"]:focus:hover {
border: thin #000000 solid;
filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
background: #FFFFFF;
color: #000000;
}
input[type="reset"] {
border: none;
background: transparent;
color:#32829D;
}
input[type="reset"]:hover {
border: thin #999999 outset;
filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;
background: #FFFFFF;
color: #000000;
}
input[type="reset"]:focus  {
border: thin #000000 solid;
background: #FFFFFF;
color: #000000;
}
input[type="reset"]:focus:hover {
border: thin #000000 solid;
filter:alpha(opacity=100);-moz-opacity:1;opacity:1;
background: #FFFFFF;
color: #000000;
}

#box
{
position: absolute;
width: 50%;
height: 50%;
left: 35%;
top: 65%;
}

#box_error
{
position: absolute;
width: 50%;
height: 30%;
left: 30%;
top: 65%;
}

#text
{
font-family:arial;
color:white;
font-size:14px;
}
h1
{
	position: absolute;
font-family: arial;
font-size: 24px;
color: white;
height: 50px;
}